# URL dari Google Apps Script Web App Deployment
# Dapatkan dari: Extensions > Apps Script > Deploy > New Deployment > Web App
# Set: Execute as = Me, Who has access = Anyone
NEXT_PUBLIC_API_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
